.table{
    width: 100%;
    border: 2px solid black;

}
.next{
    float: right;
    position: relative;
    font-size: 35px;
    text-decoration: underline;
    margin-right: 20px;
    font-weight: bold;
}
.previous{
    float: left;
    position: relative;
    font-size: 35px;
    text-decoration: underline;
    margin-left: 20px;
    font-weight: bold;
}
.pageCount{
    float: left;
    position: relative;
    font-size: 20px;
    text-indent: 100px;
}

