body{
	background-color: blue;
	background-image: url("/img/pingpong.jpg");
}
a{
	font-size: 40px;
}
h1{
	text-align: center;
	font-size: 60px;
	color: #19bbd2;
}
.miss{
    text-align: center;
    font-size: 60px;
    color: #19bbd2;
}
.hit{
    text-align: center;
    font-size: 60px;
    color: red;
}
.gameOver{
    background-color: red;
    background-image: url("/img/GameOver.jpg");

}
