#ribbon{
	position:relative;
	float:right;
	top: 0px;
	right: 0px;
}

img{

	position: relative;
	bottom: 72px;
	left: 45px;
	float: right;
}

h1{
	color: #61037a;
	font-weight: bold;
	text-decoration: underline;
}
.container{
	margin:10px;
	width:400px;
	height:300px;
	/*border: 1px solid black;*/
    border-style: none;
	

}
div{
	margin: 50px 50px 0px 0px;
	border: 1px solid black;
	width: 70px;
	height:70px;
	text-align: left;
	text-indent: 20px;
	
}




div#red{
	background-color: red;
	font-weight: bold;
	color: white;
	float: left;


}

div#gold{
	background-color: #c79110;
	font-weight: bold;
	color: white;
	float: left;
}

div#yellow{
	background-color: yellow;
	font-weight: bold;
	color: white;
	float: left;
}

div#green{
	background-color: green;
	font-weight: bold;
	color: white;
	float: left;
	clear: both;
}

div#blue{
	background-color: blue;
	font-weight: bold;
	color: white;
	float: left;
}

div#violet{
	background-color: #d46bdb;
	font-weight: bold;
	color: white;
	float: left;
}

