body{
	background-color: #81d8d0;

}
h1{
	font-size: 75px;
	text-decoration: underline;
	text-align: center;
	font-family: Copperplate;
}
h2{
	font-size:75px;
	font-family: Copperplate;
	text-indent: 190px;

}
.kanye{
	float: left;
	position: relative;
}