body{
	background-color: #81d8d0;

}
h1{
	font-size: 75px;
	text-decoration: underline;
	text-align: center;
	font-family: Copperplate;
}
h2{
	font-size:35px;
	font-family: Copperplate;
	text-indent: 80px;

}
.kanye{
	float: left;
	position: relative;
}
.refresh{
	margin-top: 100px;
	background-color: black;
	color: white;
	font-family: Copperplate;
}